.quotes__heading{
    font-size: var(--xmedium-fs);
    margin: 2rem 0 1rem;
}

.quote__container{
    display: grid;
    grid-template-columns: 1fr;
}

.quote__one, .quote__two{
    margin-bottom: 1rem;
    text-align: center;
}

hr{
    background-color: var(--blue-sh);
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--blue-sh);
}


@media screen and (min-width: 768px){
    .quote__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}