.contact__body{
    margin: 0.5rem;
}

.form-input input, .text-area textarea{
    width: 95%;
    margin: 0.5rem auto;
    padding: 0.4rem;
    border: 0.1rem solid var(--grey-sh);
    border-radius: 1rem;
}

.text-area textarea{
    height: 100px;
}

.contact__heading{
    display: none;
}

.contact-btn{
    display: flex;
    justify-content: flex-end;
}

.contact-btn .contact-form-btn{
    border: none;
    padding-inline: 1rem;
}



.contact__body .other-section__body{
    padding: 0.7rem 0.5rem;
    border-radius: 0.5rem;

}


@media screen and (min-width: 768px){
    .contact__body{
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
    .contact__heading{
        font-size: var(--medium-fs);
        display: block;
        width: 30%;
        text-align: right;
    }
    .contact__body .other-section__body{
        width: 80%;
        padding: 2rem 2rem 3rem;
    }
}