.testimonial--card{
    max-height: 100%;
    width: 100%;
    max-width: 600px;
    background: var(--blue-sh);
    color: var(--grey-sh);
    padding: 1rem 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card__inner{
    display: grid;
    grid-gap: 1rem;
}


@media screen and (min-width: 768px){
    .testimonial--card{
        height: 499px; 
    }
}